<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidature</title>
</head>
<body>
    <header>
        <h1>Envoyer une candidature</h1>
    </header>
    <section>
        {% block content %}
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button enctype="multipart/form-data" type="submit">Envoyer</button>
            </form>
        {% endblock %}
    </section>
</body>
</html>