{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page D'accueil</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
    {% bootstrap_messages %}
     <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href=" {% url 'index_view' %} " class="logo d-flex align-items-center">
      <img src="{% static 'assets/img/logo.png' %}" alt="">
      <span>FlexStart</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'index_view'%}">Home</a></li>
        <li><a class="nav-link scrollto" href="{% url 'candidature_view' %}">Candidature</a></li>
        <li><a class="nav-link scrollto" href="{% url 'projets_view'%}">Nos Projets</a></li>
        {% if user.is_authenticated %}
        <li class="dropdown"><a href="#"><span>{{user}}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'user_logout' %}">logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="dropdown"><a href="#"><span>login</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'user_login' %}">login</a></li>
            <li><a href="{% url 'user_signup' %}">signup</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header>
    {% block content %}
    {% endblock %}
</body>
</html>